after one decade of developing and accomplishing many technological inventions. Today, obviously most of people can notice how modern sciences and modern technology have  destroying the environment
Today most of analysis indicate that humans are a fundamental factor destroying the environment because of developed life and other ways of living, for this reason modern
science and technology have affected all over the world. In addition many researchers have said that the world is getting worse owing to the fact that governments
